<div class="row">
  <div class="col-sm-12">
    <div class="white-box">
      <h3 class="box-title">Products</h3>
      <button class="btn btn-outline-dark">Add Product</button>
      <div class="table-responsive">
        <table class="table text-nowrap">
          <thead>
            <tr>
              <th class="border-top-0">SKU</th>
              <th class="border-top-0">Name</th>
              <th class="border-top-0">Category</th>
              <th class="border-top-0">Inventory</th>
              <th class="border-top-0">Created At</th>
              <th class="border-top-0">Last Modified</th>
            </tr>

            <% if(sampleData.length > 0){ %> <%
            sampleData.forEach(function(data){ %>
            <tr>
              <td><%= data.sku %></td>
              <td><%= data.name %></td>
              <td><%= data.category_id %></td>
              <td><%= gender.inventory_id %></td>
              <td><%= data.created_at %></td>
              <td><%= data.last_modified %></td>
            </tr>
            <% }); %> <% }else{ %>

            <tr>
              <td>No Data Found</td>
            </tr>

            <% } %>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% } %>
